    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    @font-face {
        font-family: 'Helvetica_Condensed_Bold';
        src: url('fonts/Helvetica-Condensed-Bold/Helvetica-Condensed.woff2') format('woff2'),
            url('fonts/Helvetica-Condensed-Bold/Helvetica-Condensed.woff') format('woff'),
            url('fonts/Helvetica-Condensed-Bold/Helvetica-Condensed.ttf') format('truetype'),
            url('fonts/Helvetica-Condensed-Bold/Helvetica-Condensed.svg#Helvetica-Condensed') format('svg');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family:'Evogria';
        src: url('fonts/Evogria/Evogria.eot');
        src: url('fonts/Evogria/Evogria.eot?#iefix') format('embedded-opentype'),
            url('fonts/Evogria/Evogria.woff2') format('woff2'),
            url('fonts/Evogria/Evogria.woff') format('woff'),
            url('fonts/Evogria/Evogria.ttf') format('truetype'),
            url('fonts/Evogria/Evogria.svg#Evogria') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Helvetica_Condensed';
        src: url('fonts/Helvetica-Condensed/Helvetica-Condensed-Bold.eot');
        src: url('fonts/Helvetica-Condensed/Helvetica-Condensed-Bold.eot?#iefix') format('embedded-opentype'),
            url('fonts/Helvetica-Condensed/Helvetica-Condensed-Bold.woff2') format('woff2'),
            url('fonts/Helvetica-Condensed/Helvetica-Condensed-Bold.woff') format('woff'),
            url('fonts/Helvetica-Condensed/Helvetica-Condensed-Bold.ttf') format('truetype'),
            url('fonts/Helvetica-Condensed/Helvetica-Condensed-Bold.svg#../fonts/Helvetica-Condensed/Helvetica-Condensed-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    /* Celar FLoat */
    .cf:before,
    .cf:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    .cf:after {
        clear: both;
    }
    .cf {
        *zoom: 1;
    }
    body{
        font-family: sans-serif;
        overflow-x: hidden;
        user-select: none;
    }
    #go_to_top{
        scroll-behavior: smooth;
    }
    /* Akhir Slider */
    nav {
        display: flex;
        background-color: rgb(0, 0, 0);
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        color: white;
        font-size: 16px;
        height: 60px;
        position: relative;
    }
    nav .brand{
        padding: 15px;
        padding-left: 10px;
        width: 60px;
    }
    nav ul {
        display: flex;
        position: absolute;
        right: 0;
        top: 60px;
        height: 100vh;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        z-index: 1;
        background-color: #000000;
        list-style-type: none;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    nav ul li .list{
        height: 0px;
        overflow: hidden;
    }
    nav ul li .view{
        height: auto; /*Mengikuti tinggi isi kontent*/
        display: block; /*agar dapat klik dalam 1 area dari kontent*/
        cursor: pointer;
        overflow: visible; /*mengembalikan ke posisi normal atau untuk menghilangkan overflow hidden*/
    }
    nav .child_list{
        height: 0px; /*Menghilnagkan tinggi ukuran kontent*/
        overflow: hidden; /*menyembunyikan isi kontent*/
    }
    /* nav .hidden{
        height: 0px;
        overflow: hidden;
    } */
    nav .toggle{
        height: auto;
        cursor: pointer;
        display: block;
        overflow: visible;
    }
    nav ul li:first-child{
        order: 2;
    }
    nav ul li:nth-child(2){
        order: 3;
    }
    nav ul li:nth-child(3){
        order: 4;
    }
    nav ul li:nth-child(4){
        order: 5;
    }
    nav ul li:nth-child(5){
        order: 6;
    }
    nav ul li:nth-child(6){
        order: 7;
    }
    nav ul li:nth-child(7){
        order: 1;
    }
    nav ul li:nth-child(8){
        order: 8;
    }
    nav ul li .up{
        display: none;
    }
    nav ul li:nth-child(9){
        order: 9;
    }
    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }
    nav ul li svg{
        display: flex;
        align-items: center;
        transition: all 1s;
    }
    nav ul li svg:hover{
        width: 150px;
        cursor: pointer;
        height: 20px;
        background-color: white;
        border-radius: 2px;
    }
    nav ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 0.8em;
        text-transform: uppercase;
        font-family: 'Helvetica_Condensed_Bold';
    }
    nav ul li a:hover{
        color: rgba(182, 48, 48, 0.9);
    }
    nav ul li{
        padding-bottom: 10px;
        border-bottom: 2px solid #cbcbcb;
        width: 95%;
    }
    .menu-toggle{
        /* dispaly ukuran mobile */
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: absolute;
        right: 50px;
        top: 20px;
    }
    .menu-toggle input{
        position: absolute;
        width: 40px;
        height: 28px;
        opacity: 0;
        z-index: 1;
        top: -3px;
        left: -6px;
        cursor: pointer;
    }
    .menu-toggle span{
        display: flex;
        width: 28px;
        height: 3px;
        background-color: white;
        border-radius: 3px;
        transition: all 0.5s;
    }

    /* Hamburger Menu Animation */
    .menu-toggle span:nth-child(2) {
        transform-origin: 0 0;
    }
    .menu-toggle span:nth-child(4) {
        /* 0 (posisi kiri) & 100% (kanan naik keatas)*/
        transform-origin: 0 100%;
    }
    .menu-toggle input:checked ~ :nth-child(2) {
        background-color: white;
        transform: rotate(45deg) translate(-1px, -1px);/*Sumbu x (mundur 1) Sumbu y (Naik 1)*/
    }
    .menu-toggle input:checked ~ :nth-child(4) {
        background-color: white;
        transform: rotate(-45deg) translate(-1px, 0); /*Sumbu x(mundur 1)*/
    }
    .menu-toggle input:checked ~ :nth-child(3) {
        opacity: 0;
        transform: scale(0);
    }
    /* Akir Menu Navbar */
    /* Banner/Hero */
    .hero{
        height: 700px;
        width: 100%;
        background-image: url(./img/hero_mobile/Mask.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 0;
        text-transform: uppercase;
        transform: translateY(-12%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: -2;
    }
    .hero::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        background-color: rgba(0, 0, 0, 0.486);
        z-index: -1;
    }
    .next, .prev{
        position: absolute;
        background-image: url(./img/right_arrow/right_arrow.png);
        width: 27px;
        height: 52px;
        text-indent: -9999px;
        top: 10%;
        margin-left: 350px;
    }
    .prev{
        background-image: url(./img/left_arrow/left_arrow.png);
        margin-left: -60px;
    }
    .hero__content .btn{
        text-decoration: none;
        text-align: center;
        display: block;
        font-size: 12px;
        height: 50px;
        margin: auto;
        margin-top: 20px;
        line-height: 50px;
        width: 205px;
        background-color: #8e111f;
        color: white;
    }
    .hero__content{
        display: flex;
        justify-content: space-between;
        position: relative;
        text-align: center;
        line-height: 23px;
        font-family: 'Evogria', sans-serif;
    }
    .content{
        position:relative;
        top: 80px;
    }
    .hero__content p {
        color: white;
        margin-bottom: 10px;
    }
    .hero__content h1{
        font-weight: bold;
        color: white;
        font-size: 25px;
        line-height: 28px;
        letter-spacing: 2px;
    }
    .hero .wrapper{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 80px;
        width: 250px;
    }
    /* Akhir Banner/Hero */
    /* Aside */
    .card{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px 0;
        background-color: white;
        text-transform: uppercase;
    }
    .box__1{
        height: 230px;
        width: 280px;
        padding: 5px;
        margin: 0 auto;
        display: flex;
        order: 2;
        flex-direction: column;
        text-align: center;
    }
    .box__1 h3{
        font-family: 'Helvetica_Condensed_Bold';
        color: black;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .box__1 h2{
        font-size: 24px;
        font-weight: bold;
        font-family: 'Evogria', sans-serif;
        margin-bottom: 10px;
    }
    .box__1 p{
        font-size: 12px;
        color: #818181;
        font-family: 'Helvetica_Condensed', sans-serif;
        font-weight: lighter;
        line-height: 17px;
        margin-bottom: 10px;
    }
    .box__1 a{
        display: block;
        background-color: #8e111f;
        color: white;
        text-decoration: none;
        font-size: 12px;
        height: 50px;
        width: 205px;
        line-height: 50px;
        font-family: 'Evogria', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 0 auto;
    }
    .box__2{
        position: relative;
        margin: 0 auto;
        display: flex;
        order: 1;
    }
    .box__2 img{
        width: 280px;
        height: 200px;
    }
    .box__2 img.play{
        position: absolute;
        top: 40%;
        left: 35%;
        width: 84px;
        height: 50px;
    }

    /* Akhir Aside */

    /* Artikel */
    main{
        height: 880px;
        width: 100%;
        padding-top: 20px;
        background-color: #e8e8e8;

    }
    main h1{
        text-align: center;
        font-size: 32px;
        padding-bottom: 20px;
        letter-spacing: 2px;
        font-family: 'Evogria', sans-serif;
    }
    ul.menu{
        display: none;
    }
    main .card{
        display: flex;
        flex-direction: row;
        background-color: white;
        height: 650px;
        width: 80%;
        margin: auto;
    }
    main .card__bottom{
        display: none;
    }
    main .box1{
        position: relative;
    }
    main .box1 img{
        width: 100%;
        height: 300px;
        display: block;
        /* padding-right: 40px; */
        margin: 0 auto;
    }
    main .box1 img.logo{
        position: absolute;
        top: 40%;
        left: 50px;
        width: 150px;
        height: 110px;
    }
    main .box2{
        width: 100%;
        height: 400px;
        text-align: left;
        padding: 0 10px;
    }
    main .box2 h3{
        font-family: 'Helvetica_Condensed_Bold';
        font-weight: bold;
        color: black;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    main .box2 h2{
        font-weight: 500;
        font-family: 'Evogria', sans-serif;
        color: black;
        font-size: 32px;
        line-height: 30px;
        padding-bottom: 10px;
    }
    main .box2 p {
        font-family: 'Helvetica_Condensed', sans-serif;
        font-size: 12px;
        color: #818181;
        padding-bottom: 15px;
        line-height: 20px;
        font-weight: 600;
        text-transform: none;
    }
    main .box2 a{
        display: block;
        background-color: #8e111f;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        height: 40px;
        width: 100%;
        line-height: 40px;
        font-family: 'Evogria', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 0 auto;
    }
    main .card__bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    main .card__bottom .arrow{
        display: flex;
        justify-content: space-between;
        width: 40%;
        padding: 5px 0;
    }
    main .card__bottom a.btn{
        display: block;
        background-color: #8e111f;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        height: 40px;
        width: 90%;
        line-height: 40px;
        font-family: 'Evogria', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 0 auto;
    }
    /* Akhir Artikel */
    /* Hero__dua */
    .container{
        background-color: #000000;
        height: 650px;
        width: 100%;
        font-family: 'Evogria', sans-serif;
        font-weight: 500;
        color: white;
    }
    .container h1{
        text-align: center;
        padding-top: 10px;
        text-transform: uppercase;
    }
    .container .card__2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #181818;
        height: 410px;
        width: 82%;
        margin: 0 auto;
    }
    .box3 img{
        width: 100%;
        height: 240px;
        align-items: center;
        margin: auto;
        margin-top: -40px;
    }
    .box4 {
        width: 100%;
        height: 247px;
        text-align: left;
        padding: 0 10px;
        color: white;
        text-transform: uppercase;
    }
    .box4 h4{
        font-family: 'Helvetica_Condensed_Bold';
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .box4 h2{
        font-weight: 500;
        font-family: 'Evogria', sans-serif;
        font-size: 35px;
        /* line-height: 30px; */
        padding-bottom: 10px;
    }
    .content__mobile{
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
    }
    .content__mobile img{
        width: 60px;
        height: 40px;
    }
    .content__mobile h3{
        text-align: left;
        line-height: 20px;
        font-family: 'Helvetica_Condensed', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
    .box4 a{
        display: block;
        background-color: #8e111f;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        height: 50px;
        width: 240px;
        color: white;
        line-height: 50px;
        font-family: 'Evogria', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 20px auto;
    }
    .content .arrow{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 120px;
        padding: 5px 0;
        margin: auto;
    }
    /* Akhir Hero__dua */
    /* Card Media Sosial */
    .slider{
        text-align: center;
    }
    .slider h4{
        margin-top: 40px;
    }
    .slider__right h2{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .thumbnail img{
        width: 290px;
        height: 290px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* Akhir Card Media Sosial */
    .footer__container{
        height: 109px;
        width: 100%;
        background-color: #181818;
        padding: 5px 10px;
        color: #000000;
    }
    footer .footer__left{
        float: left;
        width: 50%;
        height: 50px;
        padding-bottom: 10px;
    }
    footer h5{
        text-align: left;
        padding-bottom: 10px;
        font-size: 14px;
        color: white;
        font-family: 'Helvetica_Condensed_Bold';
    }
    footer .footer__right{
        width: 40%;
        height: 50px;
        float: right;
        padding-bottom: 10px;
    }
    hr{
        border-bottom: 2px solid white;
        width: 100%;
    }
    footer .footer__mediasosial{
        margin-top: 10px;
        text-align: center;
    }
    footer .footer__mediasosial img{
        margin-right: 10px;
    }
    .footer__p{
        height: 80px;
        width: 100%;
        background-color: black;
        padding: 20px 10px;
        color: white;
        float: left;
    }
    .footer__p a.arrow{
        height: 40px;
        width: 40px;
        background-color: white;
        text-align: center;
        line-height: 50px;
        float: right;
        text-decoration: none;
    }
    @media screen and (min-width: 600px){
        nav{
            justify-content: space-evenly;
            background-color: transparent;
        }
        nav ul {
            position: static;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            background-color: transparent;
            list-style: none;
            width: 95%;
            height: 50px;
            opacity: 1;
            transform: translateX(0);
            align-items: center;
        }
        nav ul li img.up,
        nav ul li img.bottom,
        nav ul li img.down{
            display: none;
        }
        nav ul li{
            border-bottom: none;
            width: auto;
        }
        nav ul li::after{
            display: none;
        }
        nav ul li:nth-child(9){
            display: flex;
        }
        nav ul li img.up{
            display: none;
        }
        nav ul li img.down{
            display: none;
        }
        .menu-toggle{
            display: none;
        }
    }
    @media screen and (min-width: 1000px){
        /* Menu Navbar */
        nav ul li:first-child{
            order: 1;
        }
        nav ul li:nth-child(2){
            order: 2;
        }
        nav ul li:nth-child(3){
            order: 3;
        }
        nav ul li:nth-child(4){
            order: 4;
        }
        nav ul li:nth-child(5){
            order: 5;
        }
        nav ul li:nth-child(6){
            order: 6;
        }
        nav ul li:nth-child(7){
            order: 7;
        }
        nav ul li:nth-child(8){
            order: 8;
        }
        nav ul li:nth-child(9){
            order: 9;
            display: flex;
        }
        nav {
            justify-content: space-between;
            padding: 0 50px;
            height: 80px;
            background-color: rgba(163, 162, 162, 0.2);
        }
        nav .brand{
            width: 110px;
            height: 80px;
        }
        nav .child_list{
            display: none;
        }
        nav ul {
            background-color: transparent;
            opacity: 1;
            align-items: center;
            position: static;
            width: 85%;
            flex-direction: row;
            transform: translateX(0);
        }
        nav ul li{
            border-bottom: none;
            width: auto;
        }
        nav ul li::after{
            display: none;
        }
        nav ul li:nth-child(8){
            display: none;
        }
        nav ul li img.up,
        nav ul li img.bottom,
        nav ul li img.down{
            display: none;
        }
        .menu-toggle{
            display: none;
        }
        /* Akhir Menu Anvbar */
        /* Hero/Banner */
        .hero{
            background-image: url(./img/hero_dekstop/Mask.png);
            padding-left: 40px;
            padding: 0 100px;
            justify-content: flex-start;
            align-items: center;
        }
        .hero::after{
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        .next, .prev{
            position: absolute;
            background-image: url(./img/right_arrow/right_arrow.png);
            top: 40%;
            right: -131%;
        }
        .prev{
            background-image: url(./img/left_arrow/left_arrow.png);
            left:-10px;
        }
        .hero__content .btn{
            margin-left: 0px;
        }
        .hero__content{
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            line-height: 40px;
        }
        .content{
            position:relative;
            top: 0px;
        }
        .hero__content h1{
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 2px;
        }
        .hero .wrapper{
            height: 210px;
            width: 600px;
        }
        /* Akhir Banner/Hero */
        /* Aside */
        .card{
            flex-wrap: wrap;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            flex-direction: row;
        }
        .box__1{
            padding: 10px;
            margin-left: 50px;
            text-align: left;
            order: 1;
        }
        .box__1 a{
            text-align: center;
            margin-top: 15px;
            margin-left: 0px;
        }
        .box__2{
            margin-right: 50px;
            order: 2;
        }
        .box__2 img{
            width: 600px;
            height: 300px;
        }
        .box__2 img.play{
            top: 50%;
            left: 45%;
        }
        /* Akhir Aside */

        /* Artikel */
        main{
            height: 600px;
            padding-top: 44px;
        }
        ul.menu{
            display: flex;
            width: 80%;
            margin: auto;
            /* padding: 20px; */
            padding-bottom: 20px;
            justify-content: space-evenly;
            list-style-type: none;
        }
        ul.menu li a{
            text-decoration: none;
            color: #818181;
            font-weight: 500;
            font-family: 'Evogria', sans-serif;
        }
        ul.menu li a span{
            padding-left: 10px;
        }
        main h1{
            display: none;
        }
        main .card{
            justify-content: flex-start;
            height: 350px;
            margin-top: 20px;
        }
        main .box1 img{
            width: 500px;
            height: 350px;
            padding-right: 40px;
        }
        main .box1 img.logo{
            top: 20px;
            left: 20px;
            width: 180px;
            height: 120px;
        }
        main .box2{
            width: 400px;
            height: 350px;
        }
        main .box2 h3{
            padding-top: 20px;
        }
        main .box2 p {
            font-size: 18px;
            font-weight: 500;
        }
        main .box2 a{
            height: 50px;
            width: 205px;
            line-height: 50px;
            margin-left: 0px;
            
        }
        main .card__bottom{
            flex-direction: row;
            margin: auto;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 80%;
        }
        main .card__bottom .arrow{
            width: 12%;
        }
        main .card__bottom a.btn{
            height: 50px;
            width: 205px;
            line-height: 50px;
            margin-right: 0px;
        }
        /* Akhir Artikel */
        /* Hero Dua */
        .hero__dua{
            background-image: url(./img/logo_hero_mobile/hero_dua.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 700px;
            background-position: 0 -190px;
            width: 100%;
            text-transform: uppercase;
            position: relative;
            overflow: hidden;
        }
        .container h1{
            display: none;
        }
        .hero__dua .triangle{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 750px 1500px 0;
            border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
            line-height: 0px;
            _border-color: #ffffff #000000 #ffffff #ffffff;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
            position: absolute;
            right: 0;
            top: 0;
        }
        .triangle .arrow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 120px;
            position: absolute;
            top: 120px;
            left: 260px;
        }
        .card__2 .box4{
            width: 280px;
            height: 230px;
            margin-top: 20px;
            margin-left: 250px;
        }
        .box4 h4{
            font-size: 12px;
            font-family: 'Evogria', sans-serif;
            font-weight: 500;
            padding: 10px 0;
            letter-spacing: 1px;
            line-height: 20px;
        }
        .box4 h2{
            margin-top: 15px;
            margin-bottom: 30px;
            font-size: 50px;
            font-family: 'Evogria', sans-serif;
            font-weight: 500;
        }
        .box4 a{
            margin-top: 20px;
            margin-left: 0px;
        }
        .content__mobile img{
            width: 80px;
            height: 60px;
        }
        /* Akhir Hero Dua */

        /* Card Media Sosial */
        .slider{
            background-color: white;
            width: 100%;
            padding: 20px;
            color: #000000;
            text-transform: uppercase;
        }
        .slider h4{
            font-size: 15px;
            font-family: 'Helvetica_Condensed_Bold';
            font-weight: bold;
            text-align: left;
            padding-left: 90px;
            padding-bottom: 10px;
        }
        .slider__right{
            padding-left: 90px;
            text-align: left;
            font-family: 'Evogria', sans-serif;
            font-weight: 500;
            font-size: 16px;
        }
        .slider__btn{
            width: 200px;
            height: 200px;
            margin-right: 90px;
        }
        .slider__right .slider__btn{
            float: right;
            height: 60px;
            width: 120px;
            transform: translateY(-750%);
        }
        .thumbnail img{
            margin-right: 10px;
            width: 356px;
            height: 370px;
            margin-top: 5px;
        }
        /* Akhir Card Media Soail */

        /* Footer tunda*/
        .footer__container{
            height: 115px;
            width: 100%;
            background-color: #181818;
            padding: 0 100px;
            color: #000000;
            float: left;
        }
        footer .footer__left{
            float: left;
            width: 29%;
            line-height: 50px;
        }
        footer .footer__right{
            float: left;
            width: 64%;
            line-height: 50px;
        
        }
        footer h5{
            padding-bottom: 0;
            float: left;
            font-size: 16px;
            padding-right: 50px;
        }
        footer .footer__mediasosial {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
        }
        .footer__p{
            padding: 10px 100px;
            margin-top: -4px;
            letter-spacing: 2px;
            font-size: 14px;
            position: relative;
        }
        .footer__p br{
            display: none;
        }
        .footer__p a.arrow{
            height: 50px;
            width: 50px;
            line-height: 60px;
            position: absolute;
            top: -55px;
            right: 25px;
        }
    }