@font-face {
    font-family: 'Evogria';
    src: url('Evogria.eot');
    src: url('Evogria.eot?#iefix') format('embedded-opentype'),
        url('Evogria.woff2') format('woff2'),
        url('Evogria.woff') format('woff'),
        url('Evogria.ttf') format('truetype'),
        url('Evogria.svg#Evogria') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Condensed';
    src: url('Helvetica-Condensed-Bold.eot');
    src: url('Helvetica-Condensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Condensed-Bold.woff2') format('woff2'),
        url('Helvetica-Condensed-Bold.woff') format('woff'),
        url('Helvetica-Condensed-Bold.ttf') format('truetype'),
        url('Helvetica-Condensed-Bold.svg#Helvetica-Condensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Condensed';
    src: url('Helvetica-Condensed.eot');
    src: url('Helvetica-Condensed.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Condensed.woff2') format('woff2'),
        url('Helvetica-Condensed.woff') format('woff'),
        url('Helvetica-Condensed.ttf') format('truetype'),
        url('Helvetica-Condensed.svg#Helvetica-Condensed') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Evogria';
    src: url('Evogria_1.eot');
    src: url('Evogria_1.eot?#iefix') format('embedded-opentype'),
        url('Evogria_1.woff2') format('woff2'),
        url('Evogria_1.woff') format('woff'),
        url('Evogria_1.ttf') format('truetype'),
        url('Evogria_1.svg#Evogria') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

